# GRIP @ THE SPARKS FOUNDATION
<font size="3">DATA SCIENCE AND BUSINESS ANALYTICS INTERNSHIP (AUG21)</font>

<font size="3">Author : Tanmay M Gadre</font>

<font size="3">Task 4: Exploratory Data Analysis-Terrorism</font>
#### Performing ‘Exploratory Data Analysis’ on dataset ‘globalterrorismdb’.And we will try to find out the hot zone of terrorism.

## Task4: Exploratory Data Analysis - Terrorism
<font size="3"> Performing  Exploratory Data Analysis on dataset 'globalterrorismdb'.
Here we'll find the hotspots, the number of people killed, terrorist organisation responsible for most of them and much more. </font>

<font size="3">This EDA is divided into 3 Sections, namely, **Importing Data**, **Performing EDA**, **Conclusions and Results**.</font>

## Section 1: Importing required libraries

In [1]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")

### Reading the provided dataset

In [ ]:
#fetching data for EDA
df = pd.read_csv("C:/Users/Tanmay Gadre/Downloads/Global Terrorism - START data/globalterrorismdb.csv", encoding='latin1')
df.head(5) #used to get the first 5 rows

### Cleaning and comprehending the data

In [ ]:
# getting information about the data 
df.info()

In [ ]:
df.shape

In [ ]:
df.columns.values

In [ ]:
df.describe() # this is to read a concise summary of the data

### Cleaning the provided dataset

In [ ]:
df.isnull().sum() #to check if there are any null values and to count them from the dataset

In [ ]:
df["nwound"] = df["nwound"].fillna(0)
df["nkill"] = df["nkill"].fillna(0)

In [ ]:
df["Casualities"] = df["nkill"] + df["nwound"]

In [ ]:
df['city'] = df['city'].replace(['Unknown'],'Baghdad')
df

In [ ]:
df.rename(columns={'iyear':'Year','imonth':'Month','iday':"day",'gname':'Group','country_txt':'Country','region_txt':'Region','provstate':'State','city':'City','latitude':'latitude',
    'longitude':'longitude','summary':'summary','attacktype1_txt':'Attacktype','targtype1_txt':'Targettype','weaptype1_txt':'Weapon','nkill':'kill',
     'nwound':'Wound'},inplace=True)

In [ ]:
df = df[['Year','Month','day','Country','State','Region','City','latitude','longitude','Attacktype','kill','Wound','target1','summary','Group','Targettype','Weapon','motive']]

In [ ]:
df.to_csv('cleaned_dataset.csv', index=False)

In [ ]:
df.head()

In [ ]:
df.shape

## Section 2: Exploratory Data Analysis

In [ ]:
#Terror Attacks In Years
year = df['Year'].unique()
years_count = df['Year'].value_counts(dropna = False).sort_index()
plt.figure(figsize = (18,10))
sns.barplot(x = year,
           y = years_count,
           palette = "tab10")
plt.xticks(rotation = 50)
plt.xlabel('Attacking Year',fontsize=20)
plt.ylabel('Number of Attacks Each Year',fontsize=20)
plt.title('Attacks In Years',fontsize=30)
plt.show()

Conclusion from above bar graph:

1. Maximum number of attacks were in 2014
2. Minimum number of attacks were in 1971

In [ ]:
#Terrorist attacks region-wise and year-wise
pd.crosstab(df.Year, df.Region).plot(kind='area',stacked=False,figsize=(20,10))
plt.title('Terrorist Activities By Region In Each Year',fontsize=25)
plt.ylabel('Number of Attacks',fontsize=20)
plt.xlabel("Year",fontsize=20)
plt.show()

From the graph its clearly visible that maximum number of attacks took place in Middle East & North African regions.

In [ ]:
attackAreas = df.Country.value_counts()[:10]
attackAreas

In [ ]:
df.Group.value_counts()[:10]

In [ ]:
plt.subplots(figsize=(20,10))
sns.barplot(df['Country'].value_counts()[:10].index,df['Country'].value_counts()[:10].values,palette='YlOrBr_r')
plt.title('Top Countries Affected')
plt.xlabel('Countries')
plt.ylabel('Count')
plt.xticks(rotation = 50)
plt.show()

From the graph we can say, Iraq is the most affected region while Turkey the least

In [ ]:
# No. Of People Died Due To Attack Year-Wise
dataKill = df[['Year','kill']].groupby(['Year']).sum()
fig, ax4 = plt.subplots(figsize=(20,10))
dataKill.plot(kind='bar',alpha=0.7,ax=ax4)
plt.xticks(rotation = 50)
plt.title("People Died Due To Attack",fontsize=25)
plt.ylabel("Number of killed peope",fontsize=20)
plt.xlabel('Year',fontsize=20)
top_side = ax4.spines["top"]
top_side.set_visible(False)
right_side = ax4.spines["right"]
right_side.set_visible(False)

From the graph we can say that maximum number of people were killed in 2014, a lot more than 40,000.

In [ ]:
# Number Of People Wounded VS Attack Type
df[['Attacktype','Wound']].groupby(["Attacktype"],axis=0).sum().plot(kind='bar',figsize=(20,10),color=['cyan'])
plt.xticks(rotation=50)
plt.title("Number of wounded  ",fontsize=20)
plt.ylabel('Number of people',fontsize=15)
plt.xlabel('Attack type',fontsize=15)
plt.show()

We can say from the above plot that maximum number of people were wounded by Bombing/Explosion attacks.

In [ ]:
#Number of People Killed VS Attack Type
df[['Attacktype','kill']].groupby(["Attacktype"],axis=0).sum().plot(kind='bar',figsize=(20,10),color=['darkslateblue'])
plt.xticks(rotation=50)
plt.title("Number of killed ",fontsize=20)
plt.ylabel('Number of people',fontsize=15)
plt.xlabel('Attack type',fontsize=15)
plt.show()

We can conclude that maximum number of people were killed by Armed Assault and Bombing/Explosion.

In [ ]:
#Name of Attack Type Vs Number Of Attacks
df['Attacktype'].value_counts().plot(kind='bar',figsize=(20,10),color='magenta')
plt.xticks(rotation = 50)
plt.xlabel("Attacktype",fontsize=15)
plt.ylabel("Number of attack",fontsize=15)
plt.title("Name of attacktype",fontsize=20)
plt.show()

From the above plot wecan say that maximum attacks were executed by Bombing/Explosion and minimum by Hijacking

In [ ]:
#Top 10 Most Affected Cities
df['City'].value_counts().to_frame().sort_values('City',axis=0,ascending=False).head(10).plot(kind='bar',figsize=(20,10),color='blue')
plt.xticks(rotation = 50)
plt.xlabel("City",fontsize=15)
plt.ylabel("Number of attack",fontsize=15)
plt.title("Top 10 most effected city",fontsize=20)
plt.show()

From the bar graph it's clearly evident that Baghdad is the most affected city.

In [ ]:
# Attacks per year based on Attack Type
plt.subplots(figsize=(20,10))
sns.countplot(df["Targettype"],order=df['Targettype'].value_counts().index,palette="gist_heat",edgecolor=sns.color_palette("mako"));
plt.xticks(rotation=90)
plt.xlabel("Attacktype",fontsize=15)
plt.ylabel("count",fontsize=15)
plt.title("Attack per year",fontsize=20)
plt.show()

From this bar graph we can clearly say that maximum attacks per year were made on Private Citizens and Properties

In [ ]:
#Top 10 Terrorist Group Attack
df['Group'].value_counts().to_frame().drop('Unknown').head(10).plot(kind='bar',color='red',figsize=(20,10))
plt.title("Top 10 terrorist group attack",fontsize=20)
plt.xlabel("terrorist group name",fontsize=15)
plt.ylabel("Attack number",fontsize=15)
plt.show()

We can conclude that the Taliban Terrorist Group attacked maximum number of times.

In [ ]:
# No. Of People Killed By Top 10 Terrorist Attacks
df[['Group','kill']].groupby(['Group'],axis=0).sum().drop('Unknown').sort_values('kill',ascending=False).head(10).plot(kind='bar',color='brown',figsize=(20,10))
plt.title("Top 10 terrorist group attack",fontsize=20)
plt.xlabel("terrorist group name",fontsize=15)
plt.ylabel("No of killed people",fontsize=15)
plt.show()

From the graph we can conclude that maximum number of people were killed by ISIL(Islamic State of Iraq and the Levant) Terrorist Group.

In [ ]:
data=df[['Group','Country','kill']]
data=data.groupby(['Group','Country'],axis=0).sum().sort_values('kill',ascending=False).drop('Unknown').reset_index().head(10)
data

In [ ]:
kill = df.loc[:,'kill']
print('Number of people killed by terror attack:', int(sum(kill.dropna())))

In [ ]:
typeKill = df.pivot_table(columns='Attacktype', values='kill', aggfunc='sum')
typeKill

In [ ]:
countryKill = df.pivot_table(columns='Country', values='kill', aggfunc='sum')
countryKill

## Section 3: Conclusion and Results

### Based on the exploratory data analysis (EDA) of the terrorism dataset, the following conclusions and results can be drawn:

Country with the most attacks: **Iraq**

Iraq has experienced the highest number of terrorist attacks.

City with the most attacks: **Baghdad**

Baghdad is the city that has witnessed the most terrorist incidents.


Region with the most attacks: **Middle East & North Africa**

The Middle East & North Africa region has been the hotbed of terrorism, recording the highest number of attacks.


Year with the most attacks: **2014**

The year 2014 had the highest number of recorded terrorist attacks.


Month with the most attacks: **May**

May was the month with the highest frequency of terrorist attacks.


Group with the most attacks: **Taliban**

The Taliban terrorist group has carried out the most attacks.


Most Attack Types: **Bombing/Explosion**

The most common type of attack used by terrorists is Bombing/Explosion.

Additionally, some other insights from the analysis include:

The dataset recorded a total of **411,868 people killed** due to terrorist attacks.

**Armed Assault**, **Assassination**, and **Bombing/Explosion** are the most frequent types of attacks.

When looking at countries, **Afghanistan** stands out with a **high number of attacks**, followed by **Iraq** and **Pakistan**.

This EDA provides valuable insights into global terrorism trends, helping to understand the geographical and temporal patterns of terrorist activities and the methods used by terrorist groups.